/*.custom-font-loaded h1{*/
/*font-family: 'Open Sans', sans-serif; font-weight: 400;*/
/*font-size: 24px;*/
/*}*/

/* open-sans-300 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v13-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('fonts/open-sans-v13-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/open-sans-v13-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
  url('fonts/open-sans-v13-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v13-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
  url('fonts/open-sans-v13-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/open-sans-v13-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('fonts/open-sans-v13-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v13-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('fonts/open-sans-v13-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/open-sans-v13-cyrillic_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
  url('fonts/open-sans-v13-cyrillic_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-600italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-v13-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('fonts/open-sans-v13-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/open-sans-v13-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('fonts/open-sans-v13-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/open-sans-v13-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
  url('fonts/open-sans-v13-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/open-sans-v13-cyrillic_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
  url('fonts/open-sans-v13-cyrillic_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/open-sans-v13-cyrillic_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
  url('fonts/open-sans-v13-cyrillic_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v13-cyrillic_latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}





/***/
/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pt-sans-v8-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('fonts/pt-sans-v8-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/pt-sans-v8-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/pt-sans-v8-cyrillic_latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/pt-sans-v8-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
  url('fonts/pt-sans-v8-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/pt-sans-v8-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/pt-sans-v8-cyrillic_latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/pt-sans-v8-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('fonts/pt-sans-v8-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/pt-sans-v8-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/pt-sans-v8-cyrillic_latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/pt-sans-v8-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
  url('fonts/pt-sans-v8-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/pt-sans-v8-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/pt-sans-v8-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/pt-sans-v8-cyrillic_latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}



/* roboto-100 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/roboto-v15-cyrillic_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('fonts/roboto-v15-cyrillic_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-100.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/roboto-v15-cyrillic_latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
  url('fonts/roboto-v15-cyrillic_latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-100italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v15-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('fonts/roboto-v15-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/roboto-v15-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
  url('fonts/roboto-v15-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('fonts/roboto-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v15-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('fonts/roboto-v15-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v15-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('fonts/roboto-v15-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/roboto-v15-cyrillic_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
  url('fonts/roboto-v15-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-500italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v15-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('fonts/roboto-v15-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/roboto-v15-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
  url('fonts/roboto-v15-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v15-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
  url('fonts/roboto-v15-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/roboto-v15-cyrillic_latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
  url('fonts/roboto-v15-cyrillic_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v15-cyrillic_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-900italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v15-cyrillic_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v15-cyrillic_latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
