img{
  // БЕМ Запрещает использование элементов без класса: не делайте так в своем проекте))
  &.img,
  &:not([class]),
  &[height],
  &[width]{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $vertical-rhythm-base;
    height: auto !important;
    &.pull-left,
    &[align='left']{
      margin-right: $vertical-rhythm-base;
      max-width: 50%;
    }
    &.pull-right,
    &[align='right']{
      margin-left: $vertical-rhythm-base;
      max-width: 50%;
    }
    &.pull-left,
    &[align='left'],
    &.pull-right,
    &[align='right']{
      @media (max-width: $screen-xs-min) {
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
