ul {
  // БЕМ Запрещает использование элементов без класса: не делайте так в своем проекте))
  &.ul,
  &:not([class]){
    $list-style-color: transparent !default;
    margin-top: 0;
    margin-bottom: $vertical-rhythm-base;
    list-style: none;
    padding-left: 0;

    & &{
      padding-left: 1.5em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
    li{
      margin: 0.5em 0;
      &:first-child{ margin-top: 0 }
      &:last-child{ margin-top: 0 }
      &:before{
        content: '—';
        margin-right: 0.5em;
        background-color: $list-style-color;
      }
    }
  }
}
